@model demo1.ViewModels.UpdateUserPermissionsViewModel

@{
    ViewData["Title"] = "Assign Permissions to Roles";
}

<h1>Assign Permissions to Roles for @Model.UserName</h1>

<form asp-action="UpdateUserPermissions" method="post">
    <input type="hidden" asp-for="UserName" />

    <table class="table">
        <thead>
            <tr>
                <th>Role</th>
                <th>View</th>
                <th>Insert</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in ViewBag.Roles)
            {
                var rolePermission = Model.Permissions.ContainsKey(role.Id) ? Model.Permissions[role.Id] : new RolePermission();

                <tr>
                    <td>@role.Name</td>
                    <td>
                        <input type="hidden" name="Permissions[@role.Id].RoleId" value="@role.Id" />
                        <input type="checkbox" name="Permissions[@role.Id].CanView" value="true" @(rolePermission.CanView ? "checked" : "") />
                        <input type="hidden" name="Permissions[@role.Id].CanView" value="false" />
                    </td>
                    <td>
                        <input type="checkbox" name="Permissions[@role.Id].CanInsert" value="true" @(rolePermission.CanInsert ? "checked" : "") />
                        <input type="hidden" name="Permissions[@role.Id].CanInsert" value="false" />
                    </td>
                    <td>
                        <input type="checkbox" name="Permissions[@role.Id].CanUpdate" value="true" @(rolePermission.CanUpdate ? "checked" : "") />
                        <input type="hidden" name="Permissions[@role.Id].CanUpdate" value="false" />
                    </td>
                    <td>
                        <input type="checkbox" name="Permissions[@role.Id].CanDelete" value="true" @(rolePermission.CanDelete ? "checked" : "") />
                        <input type="hidden" name="Permissions[@role.Id].CanDelete" value="false" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Permissions</button>
    </div>
</form>
